<table border="1"> 
    <th  colspan="2">Employee Salary</th>
   
   <tr><td>Enter Mobile no:</td> 
       <td><input type="number" [(ngModel)]="mno"  /></td></tr> 
   <tr><td>Enter Fname: </td> 
       <td><input type="text" [(ngModel)]="sname"  /></td></tr>
   <tr><td>Enter Lname:</td> 
        <td><input type="text" [(ngModel)]="lname"  /></td></tr>
   <tr><td>Enter mail-id:</td> 
        <td><input type="email" [(ngModel)]="mail"  /></td></tr>
   <tr><td>Enter DOB:</td> 
        <td><input type="text" [(ngModel)]="dob"  /></td></tr>  
   <tr><td>Enter current loaction:</td> 
        <td><input type="text" [(ngModel)]="loc"  /></td></tr>        
       
        
 </table>

<h1>Mobile no-->{{mno}}</h1>
<h1>First Name-->{{sname}}</h1>
<h1>Last Name-->{{lname}}</h1>
<h1>Email id-->{{mail}}</h1>
<h1>DOB-->{{dob}}</h1>
<h1>Location-->{{loc}}</h1>

