<h2>Sign in Page</h2>
<form #signpage="ngForm" (ngSubmit)="loginuser(signpage);">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="mail" ngModel>
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="pass" ngModel>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" name="term" ngModel>
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <div class="form-group form-check">
        <input type="radio" class="form-check-input" value="Male" id="exampleCheck1" name="rterm" ngModel>
        <label class="form-check-label" for="exampleCheck1">Male</label>
      </div>
    <div class="form-group form-check">
        <input type="radio" class="form-check-input" value="Female" id="genderfiled" name="rterm" ngModel>
        <label class="form-check-label" for="exampleCheck1">Female</label>
      </div>
      <div class="mb-3">
        <label for="validationTextarea">Textarea</label>
        <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Required example textarea" name="tex1" ngModel  required></textarea>
        <div class="invalid-feedback">
          Please enter a message in the textarea.
        </div>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>