<fieldset>
    <table>

        <legend>
            <th>
                <marquee scrollamount="4">Account Details</marquee>
            </th>
        </legend>

        <tr>
            <td>Account Number:-</td>
            <td><input type="number" ([ngModel])="ac" placeholder="Account Number" required /></td>
        </tr>
        <tr>
            <td>Account Holder Name:-</td>
            <td><input type="text" ([ngModel])="acname" placeholder="Account Holder Name" required /></td>
        </tr>
        <tr>
            <td>Account Type:-</td>
            <td><input type="textr" ([ngModel])="actype" placeholder="Account Type" required /></td>
        </tr>
        <tr>
            <td>Account Branch:-</td>
            <td><input type="textr" ([ngModel])="branch" placeholder="Branch Namee" required /></td>
        </tr>
        <tr>
            <td>Account Start Bal:-</td>
            <td><input type="number" ([ngModel])="bal" placeholder="Balance" required /></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><button (click)="Add()">ADD</button></td>
        </tr>
    </table>

    <table border="2">
        <thead>
            <tr>
                <th colspan="100%">Account Details</th>
            </tr>
            <tr *ngIf='bank.length > 0'>
                <th></th>
                <th></th>
                <th>Account Number</th>
                <th>Account Holder Name</th>
                <th>Account Type</th>
                <th>Branch</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let b of bank;let i=index'>
                <td><button><a (click)="removeAc(i)">Remove</a></button>
                  <button><a (click)="editSal(i)">Edit</a></button>
                </td>
                <td><button><a (click)="depo(i)">Deposite</a></button>
                    <button><a (click)="withbal(i)">Withdrwal</a></button>
                  </td>
                <td>{{b.ac}}</td>
                <td>{{b.acname}}</td>
                <td>{{b.actype}}</td>
                <td>{{b.branch}}</td>
                <td>{{b.bal}}</td>
               
            </tr>
        </tbody>
    </table>

     
</fieldset> 